data/pdfs/
data/acl/
data/colm/
data/iclr/
data/icml/
data/neurips/
data/neurips2025/
data/neurips2025/papers/
data/old/
data/raw_answers*/
data/backup/
data/motivation_bertopic_model*
.venv/
.ipynb_checkpoints/
__pycache__/
# data/*.jsonl
*.bak
*.old
tmp/
*.png
.env
*.bib
*.bak
*.txt
*.err
*.out
*.sh
scraper/*.json
OUTDATED/
OLD/
jupyter_slurm.sh
llm_job.sh
.vscode